.greeting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.greeting-text {
  color: white;
  margin-right: 15px;
}

.greeting {
  display: flex;
  justify-content: end;

  margin: 0;
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 8px;
}

.name {
  margin: 0;
  font-size: 1.6em;
  font-weight: bold;
}