<div class="recover-password">
    <div>
        <div class="form">
            <div class="container-main-text">
                <p style="font-size: 32px; font-weight: bold; line-height: 1; color: white;">
                    Recover your password
                </p>
            </div>

            <div class="container-second-text">
                <p style="font-size: 17px; font-weight: 500;">
                    Enter your email to send you an email and you can change your password
                </p>
            </div>
            <mat-form-field appearance="outline" class="input-data">
                <mat-icon matPrefix style="color: #939393; display: flex; align-items: center;">email</mat-icon>
                <input [(ngModel)]="email" matInput placeholder="Email">
            </mat-form-field>
        </div>
        <div class="section-buttons">
            <button mat-raised-button color="primary" class="button-style" (click)="recoverPassword()">Send</button>
            <button mat-stroked-button color="accent" class="button-style" (click)="goToLogin()">Cancel</button>
        </div>
    </div>
</div>