<app-toolbar/>
<div class="content">
    <div class="top-bar">
        <div class="left-section">
          <span class="white-text">Add Flowerpot</span>
        </div>
        <div class="right-section">
          <span class="white-text">Find the pot code in your email.</span>
        </div>
      </div>
    <div class="content-logo">
        <div class="logo-loaded">
            <img src="../../../../assets/ztech/Logo-ztech-name.png" alt="ZTech Logo" class="logo">
            <p>Configured Flowerpot</p>
          </div>
    </div>
</div>