mat-toolbar {
  padding: 5px 0px;
  justify-content: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-right: auto;
  font-weight: bold;
}

.navigation-links img {
  height: 120%;
  margin-right: 10px;
}

.navigation-link {
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0 20px;
  margin-right: 30px;
}

.navigation-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
