.dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los componentes verticalmente desde el inicio */
    gap: 20px; /* Espacio entre los componentes */
    padding: 20px;
  }
  
  app-plant-status,
  app-plant-recommendations {
    flex-basis: 48%; /* O usa flex: 1 para dividir el espacio equitativamente */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Estilo de sombra para dar profundidad */
  }
  @media (max-width: 1250px) {
    .dashboard {
      flex-direction: column;
      align-items: center;
    }
  }
  