.notification-container {
  background-color: #ededed;
  border: 1px solid #ccc;
  position: fixed;
  padding: 20px;
  top: 70px;
  right: 10px;
  z-index: 1000;
  width: 400px;
  height: 80vh;
  margin: 10px;
  display: none;
  flex-direction: column;
  border-radius: 20px;
}

.notification-container.show {
  display: flex;
}

.header h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding-right: 20px;
}

.footer {
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

.footer p {
  margin: 0;
}

.footer a {
  color: blue;
}
