.notification-card {
  margin-bottom: 16px; /* Espacio entre cada tarjeta */
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.notification-content {
  display: flex;
  align-items: center;
}

.alert-icon {
  color: red;
  font-size: 24px; /* Tamaño del icono */
  margin-right: 16px; /* Espacio entre el icono y el texto */
}

.notification-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.notification-text mat-card-title, .notification-text p {
  margin: 0; /* Eliminar margen */
}

