<mat-card>
    <mat-card-content>
      <div class="chart-container">
        <h4>Temperature</h4>
        <apx-chart
          [series]="chartTemperature.series"
          [chart]="chartTemperature.chart"
          [colors]="chartTemperature.colors">
        </apx-chart>
      </div>
      <div class="chart-container">
        <h4>Humidity</h4>
        <apx-chart
          [series]="chartHumidity.series"
          [chart]="chartHumidity.chart"
          [colors]="chartHumidity.colors">
        </apx-chart>
      </div>
      <div class="chart-container">
        <h4>UV Index</h4>
        <apx-chart
          [series]="chartUV.series"
          [chart]="chartUV.chart"
          [colors]="chartUV.colors">
        </apx-chart>
      </div>
    </mat-card-content>
</mat-card>
