<mat-card>
    <mat-card-content>
      <div class="chart-container">
        <h4>Temperature</h4>
        <apx-chart
          [series]="chartTemperature.series"
          [chart]="chartTemperature.chart"
          [dataLabels]="chartTemperature.dataLabels"
          [colors]="chartTemperature.colors"
          [xaxis]="chartTemperature.xaxis">
        </apx-chart>
      </div>
      <div class="chart-container">
        <h4>Humidity</h4>
        <apx-chart
          [series]="chartHumidity.series"
          [chart]="chartHumidity.chart"
          [dataLabels]="chartHumidity.dataLabels"
          [colors]="chartHumidity.colors"
          [xaxis]="chartHumidity.xaxis">
        </apx-chart>
      </div>
      <div class="chart-container">
        <h4>UV Index</h4>
        <apx-chart
          [series]="chartSunlight.series"
          [chart]="chartSunlight.chart"
          [dataLabels]="chartSunlight.dataLabels"
          [colors]="chartSunlight.colors"
          [xaxis]="chartSunlight.xaxis">
        </apx-chart>
      </div>
    </mat-card-content>
</mat-card>
