<mat-card>
  <mat-card-header>
      <mat-card-title>{{flowerpotAssignment.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="recommendation" [ngClass]="getTemperatureRecommendation().style">
          <mat-icon>thermostat</mat-icon>
          <span>{{ getTemperatureRecommendation().value }}</span>
      </div>
      <div class="recommendation" [ngClass]="getHumidityRecommendation().style">
          <mat-icon>opacity</mat-icon>
          <span>{{ getHumidityRecommendation().value }}</span>
      </div>
      <div class="recommendation" [ngClass]="getSunlightRecommendation().style">
          <mat-icon>wb_sunny</mat-icon>
          <span>{{ getSunlightRecommendation().value }}</span>
      </div>
  </mat-card-content>
  <div class="button-list">
      <button mat-raised-button (click)="navigateMetrics()" color="primary">See stats</button>
      <button mat-raised-button color="accent" (click)="changePlant()">Change of plant</button>
  </div>
</mat-card>