.plant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px; 
  grid-column-gap: 50px;
}


.custom-search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 15px;
  background-color: white;
  width: 300px;
}

.mat-icon {
  color: #888;
  margin: 5px;
}

.custom-search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 7px;
}

.custom-search-input::placeholder {
  color: #aaa;
}

.custom-search-input:focus {
  border-color: blue;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 20px;
}

.no-results img {
  width: 45%;
  height: auto;
  margin-bottom: 20px;
}

.no-results p {
  font-size: 16px;
  color: black;
  margin: 5px 0;
}

.no-results .subtext {
  font-size: 14px;
  color: black;
  text-align: center;
  max-width: 60%;
}

