.centered-container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.image-upload {
  margin-bottom: 20px;
}

.image-icon {
  width: 100px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-data {
  width: 280px;
  height: 100%;
}

.save-button {
  background-color: #276749;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 25%;
}

.save-button:hover {
  background-color: #1e5038;
}

.add-flowerpot-content {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading {
  border-color: #EDEDED !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch {
  border-color: #EDEDED !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
  border-color: #EDEDED !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled){
  background-color: #EDEDED !important;
}

::ng-deep .mdc-text-field {
  border-radius: 10px !important;
  align-items: center !important;
}