<div *ngIf="isLoading; else content" class="loading-container">
  <mat-progress-spinner
    mode="indeterminate"
    [diameter]="spinnerDiameter"
    [strokeWidth]="spinnerStrokeWidth">
  </mat-progress-spinner>
</div>
<ng-template #content>
  <div *ngIf="isFlowerpotsEmpty(); else nonEmptyList">
    <div class="empty-list">
      <button mat-fab color="primary" (click)="goToAnotherComponent()">
        <mat-icon>add</mat-icon>
      </button>
      <p>Add your first flowerpot!!!</p>
    </div>
  </div>
  <ng-template #nonEmptyList>
    <div class="flowerpot-grid">
      <div *ngFor="let flowerpotId of flowerpotIds">
        <app-card-flowerpot [flowerpotId]="flowerpotId"></app-card-flowerpot>
      </div>
    </div>
  </ng-template>
</ng-template>
