.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: white !important;
}

.flowerpot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px; 
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.flowerpot-grid > div {
  display: flex;
  justify-content: center;
}

.empty-list {
  text-align: center;
}

.empty-list p {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
}

.empty-list button {
  padding: 10px 20px;
  background-color: #EDEDED;
  color: black;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.empty-list button:hover {
  background-color: #848484;
}

.flowerpot-grid:empty {
  display: none;
}

mat-icon {
  overflow: visible;
}