.centered-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.code-input:focus {
  outline: none;
}

.small-input {
  width: 60px;
  height: 80px;
}

.small-input input {
  font-size: 36px;
  text-align: center;
  align-items: center;
}

.example-container {
  background-color: #EDEDED;
  padding: 8px 20px 0px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.form-and-line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.button-styles {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 200px;
    height: 56px;
    font-size: 16px;
    font-weight: bold;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading {
  border-color: #EDEDED !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch {
  border-color: #EDEDED !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
  border-color: #EDEDED !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled){
  background-color: #EDEDED !important;
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
    background-color: #276749 !important;
    color: white !important;
}