.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin-bottom: 20px;
}

.icon-header {
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.plant-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 80%;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.left-column,
.right-column {
  flex: 1;
}

.left-column {
  text-align: center;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}

img[mat-card-image] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-button {
  width: 100%;
  max-width: 300px;
  background-color: #276749;
  color: white;
  border: none;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
}

.info-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
}

.info-box div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #276749;
  color: white;
  border-radius: 20px;
}

.icon {
  margin-right: 5px;
}

.right-column h1,
.right-column h2 {
  color: #276749;
}

.parameters .card {
  background-color: #276749;
  padding: 10px;
  margin-bottom: 10px;
}

.right-column h1 {
  font-size: 32px;
  color: #276749;
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
}

.right-column h2 {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  text-align: center;
  margin-top: -5px;
  font-style: italic;
}

.right-column h3 {
  font-size: 18px;
  color: #276749;
  font-weight: bold;
}

.recommendation {
  margin-bottom: -8px;
}

p,
li {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-right: 20px;
}

.parameters .card {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  margin-right: 20px;
}

.parameters .card h4 {
  font-size: 16px;
  color: #276749;
  margin: -5px 0 3px;
  font-weight: bold;
}

.parameters .card p {
  margin: -5px 0;
}