.mat-dialog-container {
  background-color: #276749;
  overflow: hidden;
  text-align: center;
}

.mat-dialog-actions button {
  background-color: #276749;
}

.mat-dialog-actions button.mat-button-wrapper:last-child {
  background-color: #F05959;
}