/* src/app/components/order-list-table/order-list-table.component.css */
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 20px 20;
    padding: 10px;
  }
  
.order-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    flex-grow: 1;
    padding-right: 25px; /* Ensure there is some space between the text and the buttons */
    height: 60px;
    font-size: 18px; /* Increase the font size */
}
  
  .buttons {
    display: flex;
    height: 60px;
  }
  
  button {
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .delete {
    background-color: red;
  }
  
  .edit {
    background-color: green;
  }
  
  .detail {
    background-color: blue;
  }
  
  .new-order {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  