html, body { height: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: linear-gradient(to bottom left, #276749 53%, white 47%);
  height: 100%;
  overflow-y: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
