.general {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 21%;
  margin-top: 25px;
  margin-bottom: 10px;
  height: 270px;
  width: 270px;
}

.logo img {
  height: 100%;
}

@media only screen and (max-width: 540px) {
  .logo {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  body {
    background: #276749;
  }
}

@media only screen and (max-height: 720px) {

}